body{
	background-color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
}
#Pikachu{
	position:fixed;
	top:5%;
	width: 100%;
	right: 0%;
}

#Navegador{
  font-family: Arial;
  font-size: 20px;
  width: 500px;
  margin: 0 auto;
  position:fixed;
  top:30%;
  left:40%;
}
ul, ol{
  list-style: none;
}
#Menu li>a{
  background-color: white;
  color:black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  opacity:0.9;
}

#Menu li>a:hover{
  color: white;
  background-color: grey;
}
#Menu>li{
  float: left;
  text-align:center;
}

#Menu>li>ul{
  display: none;
  position:absolute;
  min-width: 140px;
}
#Menu>li:hover>ul {
  display:block;
}
#tlf{
  font-family: Arial;
  font-size: 40px;
  width: 500px;
  margin: 0 auto;
  position:fixed;
  top:35%;
  left:20%;
}
#correo{
  font-family: Arial;
  font-size: 40px;
  width: 700px;
  margin: 0 auto;
  position:fixed;
  top:40%;
  left:20%;
}